
body{
    background-image: linear-gradient(90deg,rgb(51, 221, 193),rgb(241, 240, 184));
    box-sizing: border-box;
}
*{
  font-family: Roboto, cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: solid;
}
li {
    list-style: none;
}

.nvbr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    background-image: linear-gradient(190deg, rgb(226, 106, 241),rgb(0, 183, 255));
    color: #fff;
    position: relative;
    top: 0;
    width: 100%;
    height: 13.5%;
}

.nav-links a{
    color: #fff;
    font-size: 13.5px;
}

.logo {
    font-size: 20px;
    position: absolute;
    top: 68%;
    left: 6px;
}
.b {
    position: absolute;
    width: 50px;
    height: 45px;
    top: 3.5%;
    left: 2.5%;
    border-radius: 50px;
}
@media(max-width:760px)
{
  .b {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5%;
    left: 3.5%;
    border-radius: 50px;
}
.logo {
  font-size: 17px;
  position: absolute;
  top: 73%;
  left: 7px;
}
}

.mnu {
    font-size: 25px;
    display: flex;
    gap: 0.5em;
}
.mnu li:hover{
    background-color: rgb(40, 124, 233);
    border-radius: 50px;
    transition: 0.3s ease;
}
.mnu li {
    padding: 1px 3.5px;
    margin: auto;
}
input[type=checkbox] {
    display: none;
}
.cls1 {
    display: none;
    font-size: 24px;
    user-select: none;
}

.hmid{
  margin-bottom: 100%;
}

header .BoM {
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(191, 252, 156, 0.974) 100%); 
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
header .BoM > img :hover{
  box-shadow: 0px 1px rgba(0, 0, 0, 0.15);
}
@media (max-width: 760px){

header {
  padding-top: 80%;
}

header .BoM {
  background-image: linear-gradient(180deg, rgb(103, 216, 231) ,rgb(126, 147, 218)) ;
  width: 100%;
  margin-top: 60%;
}
.hmid{
  padding-top: 25%;
}

}

/*add full-width input fields*/
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
button{
  background-color: rgb(189, 50, 126);
  color: white;
  cursor: pointer;
  width: 80%;
  border-radius: 10px;
  padding: 2%;
  font-size: 12.5px;
  margin-top: 0;
}

ion-icon {
  margin-left: 20%;
}
@media (max-width: 768px){

button{
  background-color: rgb(189, 50, 126);
  color: white;
  cursor: pointer;
  width: 85%;
  padding-top: 2px;
  border-radius: 10px;
  padding-bottom: 3px;
  margin-top: 2px;
  font-size: 15.5px;
}

}

/*set styles for the cancel button*/
.cancelbtn {
  padding-top: 2px;
  padding-bottom: 3px;
  background-color: #f50202fb;
}
.signupbtn {
  background-color: green;
}
/*float cancel and signup buttons and add an equal width*/
.cancelbtn,
.signupbtn {
  float: left;
  width: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;    
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/*define the modal-content background*/
     
.modal-content {
  background-image: linear-gradient(180deg,rgb(243, 247, 247),rgb(134, 242, 250));
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 55%;
  border-radius: 20px;
  font-size: 15px;
  border-style: outset;
}
/*define the close button*/
     
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
}
/*define the close hover and focus effects*/

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
 
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
      width: 100%;
  }
}


.img-slider{
  position: relative;
  left: 30%;
  width: 450px;
  background-size: auto;
  height: 300px;
  margin: 20px;
  background-image: linear-gradient(190deg, rgb(226, 106, 241),rgb(0, 183, 255));
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 1%;
  height: 1%;
  margin: 1px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
    left: 0.1%;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}

@media (max-width: 768px) {
  .mnu {
      display: none;
      position: absolute;
      background-color: teal;
      right: 0;
      left: 0;
      text-align: center;
      padding: 1px 0;
      border-radius: 10px;
      z-index :9 !important;
  }
  ion-icon {
    margin-right: 20%;
  }
  .mnu a{
    font-size: 20px;
  }
  .mnu li:hover {
      display: inline-block;
      background-color: rgb(33, 109, 109);
      transition: 0.3s ease;
  }
  .mnu li + li {
      margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .mnu{
      display: inline-table;
      width: 30%;
      height: 100%;
      left: 70%;
      font-size: 20px;
  }
  .cls1 {
      display: block;
  }}

  @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");



.fleALW {
  background: linear-gradient(155deg, #f7c0b0, #2bb3e0, #f187c9);
  width: 45%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 170px;
  border-radius: 50px;
 }

.search {
  margin-bottom: 8px;
}



.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 11px #0091c2);
}

.search > div:after {
  content: "";
  background: white;
  width: 5px;
  height: 20px;
  position: absolute;
  top: 25px;
  transform: rotate(137deg);
}

.search > div > input {
  color: rgb(2, 2, 2);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: transparent;
  width: 5px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 2;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 220px;
}
@media(max-width:768px){
  .fleALW {
    background: linear-gradient(155deg, #f7c0b0, #2bb3e0, #f187c9);
    width: 50%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 120px;
    border-radius: 50px;
   }
}
.himg {
  width: auto;
  height: auto;
}
 
 a {  
  color: #262626;  
  text-decoration: none;  
 }  
 ul {  
  list-style: none;  
 }  
 .container {  
  width: 90%;  
  max-width: 1100px;  
  margin: auto;  
 }  
 /* Nav */  
 .main-nav {  
  display: flex;  
  align-items: center;  
  justify-content: space-between;  
  height: 60px;  
  padding: 20px 0;  
  font-size: 13px;  
 }  
 
 .main-nav ul {  
  display: flex;  
 }  
 .main-nav ul li {  
  padding: 0 10px;  
 }  
 .main-nav ul li a {  
  padding-bottom: 2px;  
 }  
 .main-nav ul li a:hover {  
  border-bottom: 2px solid #262626;  
 }  
 .main-nav ul.main-menu {  
  flex: 1;  
  margin-left: 20px;  
 }  
 .menu-btn {  
  cursor: pointer;  
  position: absolute;  
  top: 20px;  
  right: 30px;  
  z-index: 2;  
  display: none;  
 }  
 .btn {  
  cursor: pointer;  
  display: inline-block;  
  border: 0;  
  font-weight: bold;  
  padding: 10px 20px;  
  background: #262626;  
  color: #fff;  
  font-size: 15px;;
  border-radius: 30px;  
 }  
 .btn:hover {  
  opacity: 0.9;  
 }  
 .dark {  
  color: #fff;  
 }  
 .dark .btn {  
  background: #f4f4f4;  
  color: #333;  
 }  
   
 .showcase {  
  width: 100%;  
  height: 400px;  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  text-align: center;  
  justify-content: flex-end;  
  margin-top: 4%;
  margin-bottom: 2%
  ;
 }  
 .showcase h2, .showcase p {  
  margin-bottom: 10px;  
 }  
 .showcase .btn {  
  margin-top: 20px;  
 }  
 /* Home cards */  
  
 fieldset {
  font-family: sans-serif;
  border: 5px solid  teal;
  border-radius: 10px;
  width: 99%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-column-gap: 25px; 
  grid-row-gap: 25px;
  grid-column-start: 1;
  grid-column-end: 2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.1s ease-in-out;
}
fieldset{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

fieldset legend {
  background: teal;
  text-align: center;
  color: #fff;
  padding: 5px 10px ;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 5px rgb(193, 246, 250);
  margin-left: 20px;
  width: 25%; 
}
fieldset a {
  cursor: pointer;  
  display: inline-block;  
  border: 0;  
  font-weight: bold;  
  padding: 10px 20px;  
  background-image: linear-gradient(190deg, rgb(78, 204, 221),rgb(238, 118, 222));
  color: rgb(161, 10, 10);  
  font-size: 15px;
  margin-left: 30%;  
  border-radius: 50px;
  margin-bottom: 5%;
}
fieldset h3 {
  margin-left: 30%;
}
fieldset p{
  margin-bottom:2%;
  margin-left: 10%;
}

fieldset div {
  margin-left: 12px;
  background-image:linear-gradient(40deg,rgb(136, 236, 243),rgb(250, 177, 187));
  border-radius: 20px;
  margin: 10px;
  align-items: center;
}

fieldset :hover {
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
fieldset img {  
  width: 200px;
  height: 220px;
  margin-top: 20px;
  margin-bottom: 25px;  
  margin-left: 17%;
  border-radius: 20px;
 } 

 @media (max-width: 768px) {
 
  fieldset {
    font-family: sans-serif;
    border: 6px solid  teal;
    background: transparent;
    border-radius: 5px;
    padding: 15px;
    display: flex;  
    flex-direction: column;
    align-items: center;  
    text-align: center;  
    justify-content: flex-end;   
    margin-bottom: 15px;
  }
  
  fieldset legend {
    background: teal;
    color: #fff;
    text-align: center;
    padding: 4px 8px ;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 5px rgb(233, 78, 78);
    margin-left: 20px;
    width: 50%;
  }
  fieldset div {
    margin-left: 12px;
    background-image:linear-gradient(40deg,rgb(136, 236, 243),rgb(250, 177, 187));
    border-radius: 20px;
    width: 80%;
    margin: 10px;
    align-items: center;
  }
  

fieldset a{
  cursor: pointer;  
  display: inline-block;  
  border: 0;  
  font-weight: bold;  
  padding: 10px 20px;  
  background-image: linear-gradient(190deg, rgb(78, 204, 221),rgb(238, 118, 222));
  color: rgb(161, 10, 10);  
  font-size: 15px;
  margin-left: 20%;  
}
fieldset a:hover{
  opacity: 0.9;
}
 fieldset img {  
  width: 200px;
  height: 220px;
  margin-top: 20px;
  margin-bottom: 25px;  
  margin-left: 1%;
 }  
 fieldset h3 {  
   font-size: 20px;
  margin-bottom: 5px; 
  margin-left: 0%;  
 }  
 fieldset a {  
  display: inline-block;  
  padding-top: 10px;  
  color: #0067b8;  
  text-transform: uppercase;  
  font-weight: bold;  
  margin-left: 0%;
 }  
 fieldset a:hover i {  
  margin-left: 10px;  
 }  
}
 /* AL */  
 .ALW1 {  
  width: 100%;  
  height: 350px;  
  background: url('wbooks.jpg') no-repeat center center/cover;  
  margin-bottom: 20px;  
 }  
 .ALW1 .content {  
  font-size: 20px;
  width: 40%;  
  padding: 50px 0 0 30px;  
 }  
 .ALW p, .footerimgp {  
  margin: 10px 0 20px;  
 }  
 .footerimg{  
  width: 100%;  
  height: 350px;  
  background: url('book-27.gif') no-repeat;
  background-size: cover;
  background-attachment: local;
  margin-bottom: 20px;  
}  
 .footerimg .content h2  {  
  color: red;
  width: 55%;  
  padding: 100px 0 0 30px;  
  font-weight: bolder;
  padding-top: 100px;
 } 
 .footerimg .content p  { 
   padding-top: 30px;
   margin-left: 90px;
   font-size: 20px;
 }
 .footerimg .content a  { 
  font-size: 20px;
  margin-left: 90px;
  margin-top: 10px;
}
.spbtn{
  font-size: 25px;
  background-image: linear-gradient(150deg, rgb(44, 185, 241),rgb(245, 37, 37));
  padding: 10px;
  width: 35%;
  border-radius: 50px;
  margin-top: 5%;
  margin-left: 20%;
}
@media(max-width: 768px){
  .footerimg{  
    width: 100%;  
    height: 350px;  
    background: url('book-27.gif') no-repeat;
    background-size: cover;
    background-attachment: local;
    margin-bottom: 10px;  
  }  
   .footerimg .content h2  {  
    color: red;
    width: 55%;  
    padding: 100px 0 0 30px;  
    font-weight: bolder;
    padding-top: 10px;
   } 
   .footerimg .content p  { 
     padding-top: 15px;
     margin-left: 75px;
     font-size: 22px;
   }
   .footerimg .content a  { 
    font-size: 18px;
    margin-left: 70px;
    margin-top: 30px;
  }
   
}

/* Follow */  
 .follow {  
  display: flex;  
  align-items: center;  
  justify-content: flex-start;  
  margin: 30px 0 30px;  
 }  
 .follow * {  
  margin-right: 10px;  
 }  
 /* Links */  
 .links {  
  background: teal;  
  color: #fff;  
  font-size: 18px;  
  padding: 35px 0; 
 } 
 .links :hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
} 
 .links ul{
   background-color: rgb(160, 237, 243);
   text-align: center;
   border-radius: 20px;
 }
 .links h3 {
   font-size: xx-large;
   background-image: linear-gradient(170deg,rgb(44, 6, 6), rgb(238, 80, 93));
   border-radius: 10px;
 }
 .links-inner {  
  max-width: 1100px;  
  margin: 0 auto;  
  padding: 0 20px;  
  display: grid;  
  grid-template-columns: repeat(4, 1fr);  
  grid-gap: 45px;  
  align-items: flex-start;  
  justify-content: center; 
 }  
 .links li {  
  line-height: 1.8;  
  font-size: 20px;
 }
 /* Footer */  
 .footer {  
  background: #b5faff;  
  color: #616161;  
  font-size: 12px;  
  padding: 20px 0;  
 }  
 .footer-inner {  
  max-width: 1100px;  
  margin: 0 auto;  
  padding: 0 20px 0 20px;  
  display: flex;  
  align-items: center;  
  justify-content: space-between;  
 }  
 .footer div {  
  margin-bottom: 20px;  
  display: flex;  
  align-items: center; 
 }  
 .footer div i {  
  margin-right: 10px;  
 }  
 .footer ul {  
  display: flex;  
  flex-wrap: wrap;  
 }  
 .footer li {  
  margin-right: 30px;  
  margin-bottom: 20px;  
 }  
 @media(max-width: 700px) {  
  .menu-btn {  
   display: block;  
  }  
  .menu-btn:hover {  
   opacity: 0.5;  
  }  
  .main-nav ul.right-menu {  
   margin-right: 50px;  
  }  
  .main-nav ul.main-menu {  
   display: block;  
   position: absolute;  
   top:0;  
   left: 0;  
   background: #f2f2f2;  
   width: 50%;  
   height: 100%;  
   border-right: #ccc 1px solid;  
   opacity: 0.9;  
   padding: 30px;  
   transform: translateX(-500px);  
   transition: transform 0.5s ease-in-out;  
  }  
  .main-nav ul.main-menu li {  
   padding: 10px;  
   border-bottom: #ccc solid 1px;  
   font-size: 14px;  
  }  
  .main-nav ul.main-menu li:last-child {  
   border-bottom: 0;  
  }  
  .main-nav ul.main-menu.show {  
   transform: translateX(-20px);  
  }  
  .home-cards {  
   grid-template-columns: repeat(2,0.5fr );  
  }  
  .ALW .content p {  
   display: none;  
  }  
  .ALW .content h2 {  
   margin-bottom: 20px;  
  }  
  .footerimg.content {  
   width: 85%;  
  }  
  .links .links-inner {  
   grid-template-columns: repeat(2, 1fr);  
  }  
 }  
 @media(max-width: 500px) {  
  .home-cards {  
   grid-template-columns: 1fr;  
  }  
  .links .links-inner {  
   grid-template-columns: 1fr;  
  }  
  .links .links-inner ul {  
   margin-bottom: 20px;  
  }  
 }




